.body-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-separator {
  display: block;
  height: 3px;
  width: 100%;                  /* ocupa todo el ancho del contenedor */
  background-color: #a52a2a;    /* mismo color que en el Header */
  margin: 20px 0;                /* espacio arriba y abajo */
}
